<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/aboutStyle.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <title>Про мене | Ultimate Bank</title>
</head>
<body>
    <h1>Привіт, я RoMan</h1>
    <h2>Розробник Ultimate Bank</h2>
    <p>Я простий хлопець з міста, який хоче зробити світ більш електронним  <br>
       Мені 13 років, наразі створив кілька цікавих проектів, але про них трохи пізніше <br>

       Займаюся WEB програмуванням з 2023 року, та вже вивчив основи технологій, <br>
       наприклад HTML, CSS, JavaScript на клієнті і  Node.js, Express, PostgreSQL на сервері <br>
       Практично працював з технологіями Git, GitHub, Render, Swagger та подібні <br>

       У моїй колекції розроблених проектів є: <br>
    </p>
       <ul>
        <li><a href="">Ultimate Bank(цей проект)</a></li>
        <li><a href="https://roman-talk.onrender.com/">RoMan Talk</a></li>
        <li><a href="https://roman-os.onrender.com/">RoMan OS</a></li>
       </ul>
    <p>
       Наразі моїм найулюбленішим проектом є RoMan Talk, і я його активно розробляю, <br>
       навіть паралельно з розробкою Ultimate Bank. <br>
       Це месенжер, який вже рік як в релізі та вже оновлювався кілька разів. <br>
       RoMan OS це закинутий проект, який більше не оновлюється. Це макет операційної системи. <br>
       Вебсайт у вигляді програми, але на Mac OS не працює.  <br>

       Цікавлюся нейромережами, пройшов кілька курсів по нейромережам, промтам, тд <br> 
       Вбудував нейромережу в RoMan Talk, наразі вона може перекладати і стискати текст <br>

       Проект я розробив для участі в конкурсі ФінLab від <a href="https://robocode.ua/">Robocode</a> <br>       
       Дякую за відвідування!
   </p>
    <button onclick="window.location.href='/'">Зрозуміло</button>
</body>
</html>