<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | Ultimate Bank</title>
    <link rel='stylesheet' href='/stylesheets/dashboardStyle.css' />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/javascripts/dashboardScript.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<body>
    <header class="header">
        <h1>Вітаємо, <span id="username"></span>!</h1>
        <div class="card">
            <h2>Ваш баланс: <span id="balance"></span></h2>
            <p>ID Гаманця: <span id="id"></span></p>
        </div>
        <nav>
            <h2>Меню</h2>
            <div class="buttons">
                <button onclick="window.location.href='/dashboard'">Задонатити</button>
                <button onclick="window.location.href='/store'">Ultimate Store</button>
                <button onclick="window.location.href='/goldenWallet'">Golden Wallet</button>
                <button onclick="window.location.href='/quests'">Квести</button>
                <button onclick="window.location.href='/rewards'">Мої транзакції</button>
                <button onclick="window.location.href='/settings'">Налаштування</button>
            </div>
        </nav>
        <div class="inventory">
            <h2>Ваш інвентар:</h2>
            <div class="inventory-items">
                <p>Тут поки що пусто</p>
            </div>
        </div>
    </header>
    <footer class="footer">
        <p>&copy; 2025 Ultimate Bank. Усі права захищені.</p>
        <p>Відкритий код є на <a href="https://github.com/RoMan-robots/Ultimate-Bank" target="_blank">
            GitHub репозиторії</a></p>
    </footer>
</body>
</html>