<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | Ultimate Bank</title>
    <link rel='stylesheet' href='/stylesheets/dashboardStyle.css' />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/javascripts/dashboardScript.js"></script>
</head>
<body>
    <header class="header">
        <h1>Вітаємо, <span id="username"></span>!</h1>
        <div class="card">
            <h2>Ваш баланс: <span id="balance"></span></h2>
        </div>
    </header>
    <footer class="footer">
        <p>&copy; 2025 Ultimate Bank. Усі права захищені.</p>
        <p>Відкритий код є на <a href="https://github.com/RoMan-robots/Ultimate-Bank" target="_blank">
            GitHub репозиторії</a></p>
    </footer>
</body>
</html>