<!DOCTYPE html>
<html lang="uk">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ultimate Bank</title>
  <link rel='stylesheet' href='/stylesheets/indexStyle.css' />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
  <script src="/javascripts/indexScript.js"></script>
</head>

<body>
  <header class="header">
    <h1>Ultimate Bank</h1>
    <p>Розпочніть прямо зараз!</p>
  </header>

  <nav class="nav-btn">
    <button onclick="window.location.href='/register'">Реєстрація</button>
    <button onclick="window.location.href='/login'">Вхід</button>
  </nav>

  <main class="info">
    <h2>Що це за проект?</h2>
    <p>Ultimate Bank -- мій вебсайт до Project ФінLab на тему фінансової грамотності від
      <a href="https://robocode.ua/">Robocode</a>
    </p>
    <p>
      Це вебсайт, де можна зареєструвати власний гаманець з внутрішньою валютою. Платформа створює унікальну екосистему
      заробітку та розвитку, де користувачі отримують віртуальні кошти через різноманітні квести - від простих щоденних
      завдань до складних випробувань. <br>

      Додатковим джерелом поповнення балансу слугують донати від інших користувачів. Отримана валюта відкриває широкі
      можливості для персоналізації: ви зможете витрачати кошти на унікальні оновлення власного гаманця, купувати
      предмети та інтригуючі кейси з несподіваними винагородами. 
    </p>
    <p>

    </p>
  </main>

  <footer class="footer">
    <p>&copy; 2025 Ultimate Bank. Усі права захищені.</p>
    <p>Відкритий код є на <a href="https://github.com/RoMan-robots/Ultimate-Bank" target="_blank">
        GitHub репозиторії</a></p>
  </footer>
</body>

</html>