<!DOCTYPE html>
<html lang="uk">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ultimate Bank</title>
  <link rel='stylesheet' href='/stylesheets/indexStyle.css' />
</head>

<body>
  <header class="header">
    <h1>Ultimate Bank</h1>
    <p>Розпочніть прямо зараз!</p>
  </header>

  <nav class="nav-btn">
    <button onclick="window.location.href='/register'">Реєстрація</button>
    <button onclick="window.location.href='/login'">Вхід</button>
  </nav>

  <main class="info">
    <h2>Що це за проект?</h2>
    <p>Ultimate Bank -- мій вебсайт до Project ФінLab на тему фінансової грамотності від
      <a href="https://robocode.ua/">Robocode</a>
    </p>
    <p>
      Це сервіс, де можна зареєструвати власний гаманець
      з внутрішньою валютою. <br>
      Її можна отримати виконуючи квести або отримуючи донати 
      від інших користувачів. <br>
      А витратити на оновлення свого гаманця, або на предмети та кейси в магазині
    </p>
    <p>

    </p>
  </main>

  <footer class="footer">
    <p>&copy; 2025 Ultimate Bank. Усі права захищені.</p>
    <p>Відкритий код є на <a href="https://github.com/RoMan-robots/Ultimate-Bank" target="_blank">
        GitHub репозиторії</a></p>
  </footer>
</body>

</html>