<!DOCTYPE html>
<html lang="uk">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ultimate Bank</title>
  <link rel='stylesheet' href='/stylesheets/indexStyle.css' />
</head>

<body>
    <header class="header">
      <h1>Ultimate Bank</h1>
      <p>Зареєструйте власний гаманець вже зараз!</p>
    </header>

    <nav class="nav-btn">
      <button>Реєстрація</button>
      <button>Вхід</button>
    </nav>

    <main class="info">
      <h2>Що це за проект?</h2>
      <p>Ultimate Bank -- мій веб-сайт до Project ФінLab на тему фінансової грамотності від 
        <a href="https://robocode.ua/">Robocode</a> <br>
        Це вебсайт, де можна зареєструвати власний гаманець 
        з внутрішньою валютою. <br>
        Її можна отримати виконуючи квести 
        або отримуючи донати від інших користувачів.
      </p>
    </main>

    <footer class="footer">
      <p>&copy; 2025 Ultimate Bank. Усі права захищені.</p>
      <p>Відкритий код є на <a href="https://github.com/RoMan-robots/Ultimate-Bank" target="_blank">
        GitHub репозиторії</a></p>
    </footer>
</body>

</html>