@import 'vars.css';

body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    margin-top: 2rem;
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
    padding: 1.5rem;
    width: 90%;
    max-width: 400px;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

header p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

p {
    color: var(--secondary-color);
}

a {
    color: var(--link-color);
}

a:hover {
    color: var(--link-color-hover);
}

.nav-btn {
    margin-top: 2rem;
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
    padding: 1.5rem;
}

.nav-btn button {
    background-color: var(--primary-color);
    border: none;
    color: var(--bg-color);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
    margin: 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.nav-btn button:hover {
    background-color: var(--secondary-color);
    transform: scale(1.03);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.info {
    overflow-y: auto;
    height: auto;
    max-height: 70vh;
    width: 90%;
    max-width: 600px;
    margin: 2rem 0;
    padding: 1rem;
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
}

.info h2 {
    color: var(--primary-color);
    margin-bottom: 1rem;
}

footer {
    width: 100%;
    text-align: center;
    color: var(--secondary-color);
    padding: 1rem;
    margin-top: auto;
}

@media screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }

    header h1 {
        font-size: 2rem;
    }

    .nav-btn button {
        font-size: 1rem;
        padding: 8px 15px;
    }

    .info {
        width: 95%;
        padding: 0.5rem;
    }
}

@media (max-height: 700px) {
    .info {
        max-height: 40vh;
    }
}