@import 'vars.css';

.notification {
    background-color: var(--bg-color);
    width: 350px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 15px 20px;
    border-radius: 10px;
    border: 2px solid var(--secondary-color);
    opacity: 0;
    transform: translateY(100%);
    transition: all 0.5s ease-in-out;
    z-index: 1000;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    font-size: 0.95rem;
    display: flex;
    align-items: center;
    color: var(--secondary-color);
}

.notification.notification-error i {
    width: 20px;
}

.notification.notification-success i {
    width: 20px;
}

.notification.show {
    opacity: 1;
    transform: translateY(0);
}